h1,
p {
  text-align: center;
}

.parent_container {
  border: 2px solid black;
  /* width: 20vw; */
  margin: 0px 10px 10px 10px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.details {
  border: 1px solid black;
  width: 19vw;
  padding: 4px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgb(235, 231, 226);
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_btn {
  padding: 10px;
  background-color: lightgreen;
  font-weight: 600;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
